<a href="https://colab.research.google.com/github/salarMokhtariL/House-Prices/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# "Mpowering House Price Prediction through Effective Data Preprocessing and Linear Regression Modeling
> By Salar Mokhtari Laleh

This revised topic highlights the importance of effective data preprocessing techniques in building a robust linear regression model for predicting house prices. By emphasizing the need for high-quality data and well-performed preprocessing steps, this topic conveys a more powerful message about the value of data preparation in the predictive modeling process. It also emphasizes the potential benefits of using linear regression as a model of choice for housing price prediction, highlighting its simplicity and interpretability. Overall, this revised topic is more impactful, engaging, and relevant to the audience interested in developing accurate and reliable models for predicting house prices.

# Importing Required Libraries
importing necessary libraries for data cleaning, preprocessing, and model building.

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Data Cleaning and Preprocessing
## Loading the Dataset
load the train and test datasets using Pandas.

In [2]:
# Train datasets

train_data = pd.read_csv("https://raw.githubusercontent.com/salarMokhtariL/House-Prices/main/Dataset/train.csv")

# Test datasets

test_data = pd.read_csv("https://raw.githubusercontent.com/salarMokhtariL/House-Prices/main/Dataset/test.csv")

In [3]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000